Repository DaedalusDock/daedalusdock, pull requests merged in 2023-07, with the labels that each got.

#100 Inflatable Shelters (plus a sprite for the inflatables case)
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/atmospherics/ZAS/zas_extras/inflatable.dm
  icons/obj/storage.dmi
  modular_pariah/master_files/icons/obj/inflatable.dmi
Labels: ZAS

#403 Felinid Removal 2023
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/phobias.dm
  code/datums/components/tackle.dm
  code/datums/mood_events/generic_negative_events.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/items/implants/implantchair.dm
  code/game/objects/items/pet_carrier.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/augments/augments.dm
  code/modules/client/preferences/augments/implants/implant.dm
  code/modules/client/preferences/migrations/body_type_migration.dm
  code/modules/client/preferences/migrations/tgui_prefs_migration.dm
  code/modules/client/preferences_savefile.dm
  code/modules/language/language_holder.dm
  code/modules/language/language_manuals.dm
  code/modules/language/nekomimetic.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/surgery/organs/tongue.dm
  config/game_options.txt
  daedalus.dme
Labels: Config Update

#421 Optimize get_hearers_in_view()
  code/__HELPERS/spatial_info.dm
Labels: Testmerge Candidate

#434 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/topic.dm
Labels: Tools
