Repository DaedalusDock/daedalusdock, pull requests merged in 2023-06, with the labels that each got.

#164 Reagent Description and Abstract Changes
  code/__HELPERS/reagents.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/processing/reagents.dm
  code/game/atoms.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/catalyst_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/reaction_agents_reagents.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/egg_glands.dm
  code/modules/unit_tests/metabolizing.dm
  code/modules/unit_tests/reagent_descriptions.dm
  code/modules/unit_tests/reagent_mod_expose.dm
  code/modules/unit_tests/reagent_names.dm
Labels: 515 OK

#225 Fix Pack 3: Revenge Of The Fuck
  code/__DEFINES/dcs/signals/signals_spell.dm
  code/__DEFINES/movement.dm
  code/controllers/subsystem/mapping.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/phased_mob.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/heretic/magic/mirror_walk.dm
  code/modules/mapping/space_management/zlevel_manager.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/mob_movement.dm
  code/modules/spells/spell_types/jaunt/_jaunt.dm
  code/modules/spells/spell_types/jaunt/bloodcrawl.dm
  code/modules/spells/spell_types/jaunt/shadow_walk.dm
  html/changelogs/blob-70097.yml
  html/changelogs/blob-70431.yml
  html/changelogs/blob-71171.yml
Labels: 515 OK

#359 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools

#349 Allow lone op disk nag to be disabled
  code/controllers/configuration/entries/game_options.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  config/game_options.txt
Labels: Config Update

#377 The Lobby now has a Job Estimation list
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ticker.dm
  code/modules/client/preferences/ready_job.dm
  code/modules/mob/dead/new_player/new_player.dm
  config/game_options.txt
  daedalus.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/show_ready.tsx
Labels: Config Update

#378 ZAS Optimizations and Improvements
  code/controllers/subsystem/zas.dm
  code/modules/atmospherics/ZAS/XGM/xgm_gas_mixture.dm
Labels: ZAS
